*{
    transition: all 1s ease;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    min-height: 100%;
    height: 100%;
    background-color: #292d3e;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.container__back{
    width: 100%;
    background-image: url(images/img2.jpg);
    max-width: 1008px;
    min-height: 861px;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container__back_fon{
    background-color:rgba(35, 41, 56, 0.7); 
    min-width: 1008px;
    min-height: inherit;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.block__main {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 601px;
    height: 542px;
    z-index: 100;
}
.container {
    width: 601px;
    height: 424px;
    background-color: #212434;
}
.container__content {
    padding: 60px 46px;
    display: flex;
    display: flex;
    flex-direction: row;
    
}
.block__header {
    background-color: #2b2f3f;
    width: 600px;
    height: 115px;
}
.block__header nav {
    height: 100%;
}
.container__ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    height: 100%;
    justify-content: space-around;
}
li.container__li {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.disable {
    opacity: 0.3;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 4px solid transparent;
}
.active {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 4px solid #fff;
    opacity: 1;
}
li.container__li img {
    margin-bottom: 14px;
}
.container__right {
    display: flex;
    flex-direction: column;    
    flex: 0 0 58%;
    margin-left: 40px;
    align-content: flex-start;
    color: #fff;
        
}
.container__right_top{
    padding-bottom: 42px;
}
.container__img {
    flex: 0 0 30%;
}
.container__title h2 {
    font-size: 32px;

}
.container__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
}
.container__p {
    line-height: 22px;
    text-align: justify;
}
 .container__rating {
    width: 70px;
    height: 70px;
    border: 3px solid #15e38b;
    border-radius: 50px;
    margin-top: -110px;
    margin-left: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #777b9b;
    transform: rotate(-45deg);
 }
 .container__left{
     display: flex;
     flex-direction: column;
     align-items: center;
      }
.container__svg{
    padding-top: 26px;
}      

 .rating{
    transform: rotate(45deg);
  }
.block__bottom{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block__price {
    flex: 0 0 22%;
}
.block__priceoff {
    font-size: 12px;
    color: #fedc3f;
}
.block__total {
    font-size: 32px;
    color: #fff;
}
.container__buyitnow {
    justify-self: flex-end;
    width: 165px;
    height: 55px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #13e28d;
    cursor: pointer;
}
.container__buyitnow:hover,
.container__buyitnow:focus {
    background-color: #ade4cd;
}
.ratingsInfo,
.whereToBuy {
    background-color: #212534;
    position: absolute;
    width: 600px;
    height: 424px;
    padding: 60px;
    text-indent: 60px;
    text-align: justify;
    line-height: 22px;
    color: #fff;
    top: 115px;
    left: 0;
    display: none;
}